.d-flex {
    display: flex;
}

.f-1 {
    flex: 1;
}

.flex-wrap {
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.a-center {
    align-items: center;
}

.a-end {
    align-items: end;
}

.j-center {
    justify-content: center;
}

.j-between {
    justify-content: space-between;
}

.text-center {
    text-align: center;
}
