.btn {
    height: 48px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 20px;
    // background-color: var(--primary-color);
    background: linear-gradient(23deg, rgb(16 164 204), rgb(61 236 167));
    transition: 0.5s;
    border-radius: 10px;
    background-size: 200% auto;
    color: white;

    &:hover {
        cursor: pointer;
        background-position: right center;
    }
}

.btn-mint-nft {
    width: 100%;
    max-width: 200px;
}

@media (max-width: 540px) {
    .btn-mint-nft {
        max-width: unset;
    }
}

.text-btn {
    height: 48px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 20px;
}
