.testnet-token-page {
    min-height: 70vh;

    .form-claim {
        max-width: 400px;
        width: 100%;
        margin: 100px auto;

        background-color: #15155c21;
        border: 1px solid #3f1661;
        border-radius: 10px;
        padding: 15px;
    }
}
