.farms-page {
    display: flex;
    height: inherit;
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;

    .banner-div {
        margin-top: 20px;
        width: 100%;
        height: 150px;

        @media (min-width: 768px) {
            height: 300px;
        }
        img {
            object-fit: cover;
        }
    }

    .pool-header-wrapper {
        background-color: #171717;
        padding: 10px 20px;
        gap: 20px;
        max-width: 1220px;
        width: 100%;
        margin-top: 50px;

        flex-wrap: wrap;
        justify-content: space-between;

        .search-wrapper {
            input {
                width: 200px;
                height: 40px;
                flex: 1;

                border: none;
                border-radius: 5px;
                padding: 0 5px;
                outline: none;
                background-color: #424242;
                color: #fff;
            }
        }

        .ant-select-selector {
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #424242;
            color: #fff;

            border: none;
            border-radius: 5px;
        }

        .switch-wrapper {
            height: 40px;
            border-radius: 5px;
            overflow: hidden;

            background-color: #424242;

            display: flex;
            align-items: center;

            .btn-switch {
                flex: 1;
                height: 100%;
                padding: 0 10px;

                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    cursor: pointer;
                }
            }

            .active-btn {
                background-color: var(--primary-color);
            }
        }
    }

    .pool-body-wrapper {
        max-width: 1220px;
        width: 100%;
        margin-bottom: 50px;
        .body-one {
            flex-wrap: wrap;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            width: 100%;
            background-color: #120e25;
            border-bottom: 1px solid #2f205e;

            .icon-div-1 {
                .icon-1 {
                }

                .icon-2 {
                    margin-left: -10%;
                }
            }

            .icon-social-wrapper {
                height: 40px;
                width: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #424242;
                border-radius: 5px;
            }

            .body-one-title {
                color: #747272 !important;
            }
        }

        .body-two {
            flex-wrap: wrap;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            width: 100%;
            background-color: #171717;

            .body-two-title {
                color: #747272 !important;
            }
        }
    }
}

.ant-select {
    border-radius: 5px;
}

.ant-select-item-option-content {
    color: #fff;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background-color: var(--primary-color);
    color: #fff;
}

.ant-select-arrow {
    color: #fff;
}
