.header-layout {
    height: 60px;

    padding: 10px 20px;
    background-color: rgb(0, 51, 124, 0.5);

    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

    .trending-token-div {
        height: 100%;
        width: 100%;
        max-width: 1200px;
        border-radius: 10px;

        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 20px;

        .marquee-container {
            width: 100% !important;
            display: flex;
            flex-direction: row !important;
        }

        .token-div {
            margin: 0 20px;
            img {
                height: 25px;
                width: 25px;
            }
        }
    }
}
