// ---------- margin ----------
.ml-10 {
    margin-left: 10px;
}

.ml-20 {
    margin-left: 20px;
}

// ----------------------------------------------------------------

.mh-5 {
    margin: 0 5px;
}

.mh-10 {
    margin: 0 10px;
}

.mh-20 {
    margin: 0 20px;
}

.mh-30 {
    margin: 0 30px;
}
